:root {
  --highlight-color: #1e1e1e;
  --highlight-foreground: #edefee;
  --primary-color: #495e57;
  --primary-foreground: #f4ce14;
  --secondary-color: #ee9972;
  --secondar-foreground: #fbdabb;
}

.App {
  max-width: 1280px;
  margin: 0 auto;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

nav ul li {
  margin: 0 12px;
}

nav ul:first-child {
  margin-left: 0;
}
nav ul:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: var(--highlight-color);
  font-family: 'Karla', sans-serif;
  transition: all 0.2s ease;
  font-weight: 500;
}

nav ul li a:hover {
  text-decoration: underline;
}
